[submodule "determine_key"]
	path = determine_key
	url = https://github.com/pnlong/determine_key
[submodule "determine_tempo"]
	path = determine_tempo
	url = https://github.com/pnlong/determine_tempo
[submodule "determine_sections"]
	path = determine_sections
	url = https://github.com/pnlong/determine_sections
